#mapid {
  height: 800px;
  margin-top: 1rem;
  z-index: 0;
}

#form-control {
  border: 0.1rem solid #5f5f5f;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 3px 1px 8px #a5050563;
}

#foundStationsBox {
  height: 100%;
}

#foundStationsPanel {
  height: 100%;
}

.panel-heading {
  font-size: 1em;
  text-align: center;
}

.panel-block {
  font-size: 0.8em;
}

.modal-card-head {
  background-color: #00d1b2;
}

.modal-card-title {
  font-weight: bold;
  color: #ffffff;
  background-color: #00d1b2;
}
